
<!-- Busqueda por Nombre, RFC y Email -->
<div class="form-inline">
	<div class="form-group">
		<label for="exampleInputName2">Nombre</label>
		<input type="text" class="form-control" id="exampleInputName2" >
	</div>
	<div class="form-group">
		<label for="exampleInputEmail2">RFC</label>
		<input type="email" class="form-control" id="exampleInputEmail2" >
	</div>
	<div class="form-group">
		<label for="exampleInputEmail2">Email</label>
		<input type="email" class="form-control" id="exampleInputEmail2" >
	</div>
	<button type="submit" class="btn btn-primary">Buscar</button>
</div>

<br>

<!-- Datos fiscales -->
<div class="row">
	<div class="col-md-12 ">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-horizontal" >
					<fieldset>
						<!-- Form Name -->
						<legend>Datos Fiscales</legend>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-1 control-label" for="textinput">Sucursal</label>
							<div class="col-sm-6">
								<input type="text" placeholder="Address Line 1" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Razon Social</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Address Line 2" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">RFC</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Contacto</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Calle</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Country" class="form-control">
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">No. Exterior</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">No. Interior</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Country" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Colonia</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Codigo Postal</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Country" class="form-control">
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Municipio</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Ciudad</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Country" class="form-control">
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Estado</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Pais</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Country" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Telefono 1</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Telefono 2</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Country" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Reginmen Fiscal</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Lugar de Operacion</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Country" class="form-control">
							</div>
						</div>

					</fieldset>
				</div>
			</div>
		</div>

	</div><!-- /.col-lg-12 -->
</div><!-- /.row -->

<!-- Estado de Cuenta -->
<div class="row">
	<div class="col-md-4 ">
		<div class="panel panel-default">
			<!-- <div class="panel-heading">Estado de Cuenta</div> -->
			<div class="panel-body">
				<div class="form-horizontal" >
					<fieldset>

						<!-- Form Name -->
						<legend>Estado de Cuenta</legend>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Paquete Contratado</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Address Line 1" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Usuarios max</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Address Line 2" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Usuarios de cortesia</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Inicio periodo</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Fecha vencimiento</label>
							<div class="col-sm-8">
								<input type="text" placeholder="State" class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Precio paquete</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Country" class="form-control">
							</div>
						</div>
						
						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Creditos por paquete</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Costo factura adicional</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Cobro adicional</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Saldo por aplicar</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Subtotal</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">IVA</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Total</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Creditos despues del corte</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Creditos adicionales</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Fecha Suspencion</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-sm-4 control-label" for="textinput">Fecha Subscripcion</label>
							<div class="col-sm-8">
								<input type="text"  class="form-control">
							</div>
						</div>


					</fieldset>
				</div>
			</div>

		</div>
	</div><!-- /.col-lg-12 -->
</div>